#Ignore all
*.*
*

#exclude directory structure
!app/
app/*

!var/
var/*

!var/langs/
var/langs/*

!var/langs/en/
var/langs/en/*

!var/langs/en/addons/
var/langs/en/addons/*

!app/addons/
app/addons/*

!app/addons/leanpay_payment/
!app/addons/leanpay_payment/**

!var/langs/en/addons/leanpay_payment.po

!app/payments/
!app/payments/leanpay_payment.php
app/payments/*

!design/
design/*

!design/backend/
design/backend/*

!design/backend/templates/
design/backend/templates/*

!design/backend/templates/addons/
design/backend/templates/addons/*

!design/backend/templates/addons/leanpay_payment/
!design/backend/templates/addons/leanpay_payment/**

!design/backend/templates/addons/views/
design/backend/templates/addons/views/*

!design/backend/templates/addons/views/payments/
design/backend/templates/addons/views/payments/*

!design/backend/templates/addons/views/payments/components/
design/backend/templates/addons/views/payments/components/*

!design/backend/templates/addons/views/payments/components/cc_processors/
!design/backend/templates/addons/views/payments/components/cc_processors/leanpay.tpl
design/backend/templates/addons/views/payments/components/cc_processors/*

!js/
js/*

!js/addons/
js/addons/*

!js/addons/leanpay_payment/
!js/addons/leanpay_payment/**

!.gitignore
!README.md